@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Unna", serif;
}


.moedas{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.tipoMoedas{
    display: flex;
    flex-direction: row;
}

.moedasTotal{
    display: flex;
    flex-direction: row;
}